.product-container {
    min-width: 760px;
    height: 300px;
    margin: 16px 36px 24px 36px;
    background-color: #D9C8C0;
    border-radius: 12px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.75);

    display: flex;
    flex-direction: row;
}

.product-container:last-child {
    margin-bottom: 16px;
}

.product-container .product-image {
    width: 260px;
    min-width: 260px;
    height: 260px;
    margin: 20px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.product-container .product-image img {
    width: 260px;
    height: 260px;
}

.product-container h3, h4, h5 {
    margin: 0 !important;
}


.product-container .product-info {
    margin: 20px;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    flex: 1;
    cursor: pointer;
}


.product-container .product-actions {
    margin: 20px;
    min-width: 240px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.product-container .product-actions .favorite-button {
    width: 44px;
    height: 44px;
    padding: 8px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.product-container .product-actions .favorite-button svg {
    width: 28px;
    height: 28px;
}
