.navbar-container {
    background-color: #D9C8C0 !important;
    max-height: 70px !important;
    border-width: 0 !important;
    margin: 0 !important;
    position: fixed;
    width: 100vw;
    z-index: 102;
}

.navbar-container h1 {
    margin: 0;
}

.navbar-container div.item a {
    font-size: 18px;
    color: #000000;
}

.active-menu-item {
    font-weight: bold !important;
}

a.item:hover {
    background: rgba(0, 0, 0, 0) !important;
}
