.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.page-container {
    max-height: 100%;
    max-width: 100%;
    scroll-behavior: auto;
}

.ui.active.dimmer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
}
